@import url('base.css');
	
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal { /*padding: 15px 20px;*/margin: 15px 10px; overflow:hidden;width: 240px;left: 25px;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 70px; /*width: 485px;*/ width: 100%;}
.jcarousel-skin-pika .jcarousel-item-horizontal {/* margin-right: 10px;*/}

